/* resets */
.massrl-status a {
  text-decoration: none;
}
.massrl-status a:hover {
  text-decoration: underline;
}
.massrl-status a img {
  border: 0;
}

/* layout & container */
.massrl-status {
  padding: 10px;
  border-bottom-width: 1px;
}
.massrl-avatar,
.massrl-avatar img {
  width: 48px;
  height: 48px;
}
  .massrl-narrow .massrl-avatar,
  .massrl-narrow .massrl-avatar img {
    width: 32px;
    height: 32px;
  }
.massrl-avatar {
  display: block;
  float: left;
}
.massrl-content {
  margin-left: 58px;
}
  .massrl-narrow .massrl-content {
    margin-left: 38px;
  }
.massrl-author {
  margin-bottom: 3px;
  position: relative;
}
.massrl-meta {
  margin-top: 5px;
}
.massrl-permalink,
.massrl-retweeted-by,
.massrl-status:hover .massrl-intents{
  display: inline;
}
.massrl-twitter-logo {
  margin-right: 3px;
}
.massrl-twitter-logo img {
  width: 16px;
  height: 16px;
  vertical-align: top;
}
.massrl-intents {
  display: none;
}
.massrl-retweeted-by {
  position: absolute;
  top: 2px;
  right: 0;
}
  .massrl-narrow .massrl-retweeted-by {
    margin-left: 7px;

    /* reseting base */
    position: static;
    top: 0;
    right: 0;
  }
.massrl-retweeted-by img {
  width: 16px;
  height: 16px;
  vertical-align: top;
}
.massrl-intent {
  display: inline-block; /* not in IE :( */
  min-height: 16px; /* not in IE */
  margin-left: 5px;
  padding-left: 17px;
}



/* font & text */

.massrl-screen-name {
  /* set to default page +1 font size */
  font-size: 14px;
}
.massrl-real-name,
.massrl-narrow .massrl-screen-name {
  /* set to default page standard font size */
  font-size: 12px;
}
.massrl-meta,
.massrl-retweeted-by,
.massrl-narrow .massrl-real-name {
  /* set to default page -1 font size */
  font-size: 11px;
}
.massrl-content {
  word-wrap: break-word; /* prevents long words from breaking layout in newer browsers */
}
.massrl-screen-name {
  font-weight: bold;
}

.massrl-text {
  line-height: 19px;
}
  .massrl-narrow .massrl-text {
    line-height: 17px;
  }



/* style & colors */

.massrl-screen-name,
.massrl-intent:hover {
   /* set to default page text color */
   color: #000;
 }
.massrl-retweeted-by {
   /* set to stream bg color, will prevent some ugliness */
  background-color: #fff;
}
  .massrl-narrow .massrl-retweeted-by {
    /* reseting base */
    background-color: transparent;
  }
.massrl-real-name,
.massrl-meta,
.massrl-meta a,
.massrl-retweeted-by,
.massrl-retweeted-by a  {
  /* set to default page light grey */
  color: #999;
}
.massrl-status {
  border-bottom-color: #e8e8e8;
  border-bottom-style: solid;
}
.massrl-intent {
  background-repeat: no-repeat;
  background-position: 0 -2px;
}
  
  .massrl-intent-reply { background-image: url('./img/reply.png'); }
  .massrl-intent-retweet { background-image: url('./img/retweet.png'); }
  .massrl-intent-favorite { background-image: url('./img/favorite.png'); }

  .massrl-intent-reply:hover { background-image: url('./img/reply_hover.png'); }
  .massrl-intent-retweet:hover { background-image: url('./img/retweet_hover.png'); }
  .massrl-intent-favorite:hover { background-image: url('./img/favorite_hover.png'); }
