/* resets */
.massrel-status a {
  text-decoration: none;
}
.massrel-status a:hover {
  text-decoration: underline;
}
.massrel-status a img {
  border: 0;
}

/* layout & container */
.massrel-status {
  padding: 10px;
  border-bottom-width: 1px;
}
.massrel-avatar,
.massrel-avatar img {
  width: 48px;
  height: 48px;
}
  .massrel-narrow .massrel-avatar,
  .massrel-narrow .massrel-avatar img {
    width: 32px;
    height: 32px;
  }
.massrel-avatar {
  display: block;
  float: left;
}
.massrel-content {
  margin-left: 58px;
}
  .massrel-narrow .massrel-content {
    margin-left: 38px;
  }
.massrel-author {
  margin-bottom: 3px;
  position: relative;
}
.massrel-meta {
  margin-top: 5px;
}
.massrel-permalink,
.massrel-retweeted-by,
.massrel-status:hover .massrel-intents {
  display: inline;
}
.massrel-twitter-logo {
  margin-right: 3px;
}
.massrel-twitter-logo img {
  width: 16px;
  height: 16px;
  vertical-align: top;
}
.massrel-intents {
  display: none;
}
  .massrel-narrow .massrel-intents,
  .massrel-narrow .massrel-status:hover .massrel-intents {
    display: block !important;
  }
  .massrel-narrow .massrel-intents {
    margin-bottom: 3px;
  }
.massrel-intent {
  display: inline-block; /* not in IE :( */
  min-height: 16px; /* not in IE */
  margin-left: 5px;
  padding-left: 17px;
}
  .massrel-narrow .massrel-intent {
    margin-right: 5px;

    /* reseting base */
    margin-left: 0;
  }
.massrel-retweeted-by {
  position: absolute;
  top: 2px;
  right: 0;
}
  .massrel-narrow .massrel-retweeted-by {
    margin-left: 7px;

    /* reseting base */
    position: static;
    top: 0;
    right: 0;
  }
.massrel-retweeted-by img {
  width: 16px;
  height: 16px;
  vertical-align: top;
}



/* font & text */

.massrel-screen-name {
  /* set to default page +1 font size */
  font-size: 14px;
}
.massrel-real-name,
.massrel-narrow .massrel-screen-name {
  /* set to default page standard font size */
  font-size: 12px;
}
.massrel-meta,
.massrel-retweeted-by,
.massrel-narrow .massrel-real-name {
  /* set to default page -1 font size */
  font-size: 11px;
}
.massrel-content {
  word-wrap: break-word; /* prevents long words from breaking layout in newer browsers */
}
.massrel-screen-name {
  font-weight: bold;
}

.massrel-text {
  line-height: 19px;
}
  .massrel-narrow .massrel-text {
    line-height: 17px;
  }



/* style & colors */

.massrel-screen-name,
.massrel-intent:hover {
   /* set to default page text color */
   color: #000;
 }
.massrel-retweeted-by {
   /* set to stream bg color, will prevent some ugliness */
  background-color: #fff;
}
  .massrel-narrow .massrel-retweeted-by {
    /* reseting base */
    background-color: transparent;
  }
.massrel-real-name,
.massrel-meta,
.massrel-meta a,
.massrel-retweeted-by,
.massrel-retweeted-by a  {
  /* set to default page light grey */
  color: #999;
}
.massrel-status {
  border-bottom-color: #e8e8e8;
  border-bottom-style: solid;
}
.massrel-intent {
  background-repeat: no-repeat;
  background-position: 0 -2px;
}
  
  .massrel-intent-reply { background-image: url('./img/reply.png'); }
  .massrel-intent-retweet { background-image: url('./img/retweet.png'); }
  .massrel-intent-favorite { background-image: url('./img/favorite.png'); }

  .massrel-intent-reply:hover { background-image: url('./img/reply_hover.png'); }
  .massrel-intent-retweet:hover { background-image: url('./img/retweet_hover.png'); }
  .massrel-intent-favorite:hover { background-image: url('./img/favorite_hover.png'); }
